<div class="row">
    <div class="column">
        <img  class="banner" src="../../assets/head.png" alt="" >
      </div>
    </div>

<div class="row">
    <div class="column">
      <div class="card">
        <img src="../../assets/profilemat.png" alt="" style="width:100% ">
        <div class="container">
          <h2>Matan Shabi</h2>
          <p class="title">Lead Architect &amp; Founder</p>
          <p>Leading the team with passion and the will to thrive above the known limits!</p>
          <p>matanlimudim20@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../../assets/jamal.jpg" alt="" style="width:100%">
        <div class="container">
          <h2>Jamal Majadle</h2>
          <p class="title">Lead Designer</p>
          <p>With passion to keep the design simple as possiable keeps the cleverness in styling</p>
          <p>jamal.majadle02@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../../assets/ekram.jpg" alt="" style="width:100%">
        <div class="container">
          <h2>Ekram Tatour</h2>
          <p class="title">CTO</p>
          <p>With the will to sucssed pushes the team forward to to finish line</p>
          <p>ekram.tatour@gmail.com</p>
          <p><button class="button" >Contact</button></p>
        </div>
      </div>
    </div>
  </div>
